{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="{% static 'trees/css/groups_trees.css' %}">

    <!-- Scripts -->
    <script src="{% static 'trees/js/groups_trees.js' %}"></script>
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <h2>Usuário</h2>
            <a href="{% url 'my-profile' %}">Perfil <i class="fa-solid fa-circle-user"></i></a>
            <a href="{% url 'planted-trees' %}">Minhas árvores <i class="fa-solid fa-users"></i></a>
            <a href="{% url 'group-trees' %}">Árvores de grupos <i class="fa-solid fa-users"></i></a>
            <button onclick="confirmLogout()">Logout</button>
        </aside>

        <main class="content">
            <section id="groups-trees" class="section">
                <div class="groups-trees-header">
                    <h1>Árvores Por Grupos</h1>
                </div>

                <div class="groups-trees-list">
                    {% for account, trees in trees_by_account.items %}
                        <h2>{{ account.name }}</h2>
                        
                        {% if trees %}
                            <div>
                            {% for planted_tree in trees %}
                                <p>{{ planted_tree.tree.name }} ({{ planted_tree.tree.scientific_name }}) | {{ planted_tree.planted_at }}</p>
                            {% endfor %}
                            </div>
                        {% else %}
                            <p>Nenhuma árvore plantada nessa conta.</p>
                        {% endif %}

                    {% endfor %}
                </div>
            </section>
        </main>
    </div>

    <script>
        function confirmLogout() {
            if (confirm("Tem certeza que deseja sair?")) {
                window.location.href = "/logout/";
            }
        }
    </script>
</body>
</html>