{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="{% static 'trees/css/my_profile.css' %}">

    <!-- Scripts -->
    <script src="{% static 'trees/js/my_profile.js' %}"></script>
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <h2>Usuário</h2>
            <a href="{% url 'my-profile' %}">Perfil <i class="fa-solid fa-circle-user"></i></a>
            <a href="{% url 'planted-trees' %}">Minhas árvores <i class="fa-solid fa-users"></i></a>
            <a href="{% url 'group-trees' %}">Árvores de grupos <i class="fa-solid fa-users"></i></a>
            <button onclick="confirmLogout()">Logout</button>
        </aside>

        <main class="content">
            <section id="profile" class="section">
                <div class="profile-header">
                    <h1>Perfil</h1>
                    
                    <div class="profile-data">
                        <p>Nome: {{ user.username }}</p>
                        <p>Email: {{ user.email }}</p>
                    </div>
                    
                    <div class="profile-about">
                        <p>Sobre:</p>
                        <textarea id="about">{{ user.profile.about }}</textarea>
                        <button onclick="saveAbout()">Salvar descrição</button>
                    </div>
                    
                    <p style="margin-top: 20px;">Entrou em {{ user.profile.joined }}</p>
                    <p id="msg"></p>
                </div>
            </section>
        </main>
    </div>

    <script>
        function openForm(){
            const form = document.querySelector('.overlay');
            form.style.display = 'flex';
        }

        function closeForm(){
            const form = document.querySelector('.overlay');
            form.style.display = 'none';
        }

        function confirmLogout() {
            if (confirm("Tem certeza que deseja sair?")) {
                window.location.href = "/logout/";
            }
        }
    </script>
</body>
</html>