{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="{% static 'trees/css/planted_trees.css' %}">

    <!-- Scripts -->
    <script src="{% static 'trees/js/planted_trees.js' %}"></script>
    
    <!-- CSS do Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />

    <!-- JS do Leaflet -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <h2>Usuário</h2>
            <a href="{% url 'my-profile' %}">Perfil <i class="fa-solid fa-circle-user"></i></a>
            <a href="{% url 'planted-trees' %}">Minhas árvores <i class="fa-solid fa-users"></i></a>
            <a href="{% url 'group-trees' %}">Árvores de grupos <i class="fa-solid fa-users"></i></a>
            <button onclick="confirmLogout()">Logout</button>
        </aside>

        <main class="content">
            <section id="planted-trees" class="section active">
                <div class="user-trees-header">
                    <h1>Minhas árvores</h1>
                    <button onClick="openForm()">Nova árvore plantada</button>
                </div>
                
                <div id="user-trees-list">
                    {% for item in planted_trees %}
                        <div onclick="showPlantedTree({{ item }})">
                            <p style="margin: 0px;">{{ item.tree.name }} ({{ item.tree.scientific_name }})</p>
                            <p style="margin: 0px;">{{ item.planted_at }}</p>
                        </div>
                    {% empty %}
                        <p>Nenhuma árvore plantada</p>
                    {% endfor %}
                </div>

                <div class="overlay">
                    <div class="new-planted-list">
                        <p>Adicionados:</p>

                        <div>
                        </div>
                    </div>

                    <div class="new-tree-form">
                        <h3>Nova árvore plantada</h3>
                        
                        <label>Selecione o tipo de árvore:</label>
                        <select id="tree-select">
                            {% for tree in trees %}
                                <option value="{{ tree.id }}">{{ tree.name }} ({{ tree.scientific_name }})</option>
                            {% endfor %}
                        </select>

                        <label>Selecione a conta associada á essa árvore plantada:</label>
                        <select id="account-select">
                            {% for account in accounts %}
                                <option value="{{ account.id }}">{{ account.name }}</option>
                            {% endfor %}
                        </select>

                        <button onclick="addPlantedTree()">Adicionar árvore</button>
                        <button onclick="submitPlantedTrees()">Salvar todas</button>
                        <button onclick="closeForm()">Cancelar</button>
                    </div>

                    <div id="map" class="map"></div>
                </div>
            </section>
        </main>
    </div>

    <script>
        function openForm(){
            const form = document.querySelector('.overlay');
            form.style.display = 'flex';
        }

        function closeForm(){
            const form = document.querySelector('.overlay');
            form.style.display = 'none';
        }

        function confirmLogout() {
            if (confirm("Tem certeza que deseja sair?")) {
                window.location.href = "/logout/";
            }
        }
    </script>
</body>
</html>